* {
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: auto;
    border: 1px #000000 solid;
    background-image: url('images/backdrop.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#logo {
    height: 60px;
}

header {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

h1 {
    display: inline-block;
    margin: 0px;
    margin-left: 11%;
    vertical-align: top;
}

#recentNotifications {
    text-align: center;
}

#navBar, .search-bar {
    display: inline-block;
}

nav {
    width: 80%;
}

li {
    display: inline-block;
}

.content, 
.national-services,
.contact-details,
.address-details,
.social-media,
.social-media-tabs {
    border: 1px #000000 solid;
    margin: 10px;
}

.national-services, .contacts {
    display: inline-block;
}

.national-services {
    width: 50%;
    vertical-align: top;
}
.contacts{
    width: 47%;
    padding: 0;
}

.contact-details, .social-media {
    width: 96%;
}
.national-services h2{
    padding-left: 10px;
}
.social-media h3{
    padding-left: 10px;
}

#servicesLogo {
    height: 200px;
    display: block;
    margin: auto;
}

.link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    margin-left: 43%;
}

address {
    margin: 10px;
}

.social-media-img,
span {
    display: block;
    margin: auto;
}

span {
    text-align: center;
}

.social-media-img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.social-media-handles {
    display: inline-block;
    width: 40.5%;
    padding-bottom: 20px;
}

