.container{
    height: 800px;
    margin: auto;
    font-family: sans-serif;
    font-size: 20px;
}
#nav{
    margin: auto;
    position: relative;
    max-width: 100%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: #89cff0;
}
ul#navigationTabs{
    margin: auto;
    position: relative;
}
ul#navigationTabs li{
    display: inline;
}
ul#navigationTabs li a{
    padding: 15px;
    display: inline-block;
}
ul#navigationTabs li a :link{
    color: #02075d;
}
ul#navigationTabs li a :visited{
    color: #02075d;
}
ul#navigationTabs li a :hover{
    color: #ff0000;
}
ul#navigationTabs li a :active{
    color: #ff0000;
}
ul#navigationTabs li:hover > ul{
    visibility: visible;
    opacity: 1;
}
ul#navigationTabs ul li{
    display: block;
    position: relative;
}
ul#navigationTabs ul, ul#navigationTabs ul li ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    text-align: left;
    padding-left: 5px;
    padding-right: 10px;
    background-color: #89cff0;
    left: 46%;
    z-index: 1;
}
.content{
    z-index: 0;
    margin: auto;
    position: relative;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: #9370db;
    color: #ffffff;
}
#photo{
    display: inline-block;
    width: 25%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}
.main-text{
    display: inline-block;
    margin-top: 25px;
    width: 70%;
    vertical-align: top;
}
#colouredText{
    color: #d800d8;
}
#italicisedText{
    font-style: italic;
}
.tagline-text{
    font-style: italic;
    margin-left: 15px;
}