.container{
    padding-left: 200px;
    padding-right: 200px;
}
header{
    border-bottom: 2px solid black;
}
#htLogo{
    height: 50px;
    padding: 20px;
    display: inline-block;
}
#genDetails{
    float: right;
    padding-top: 50px;
}
#info{
    padding: 10px;
}
#navBar{
    padding: 10px;
    border-bottom: 1px solid black ;
}
.top-news{
    height: 600px;
    padding: 25px;
    border-bottom: 1px solid black;
}
.block-1{
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(236, 234, 234);
}
.block-2{
    width: 35%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid black;
}
.block-3{
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid black;
}
.ads{
    width: 20%;
    height: 95%;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    border: 1px solid black;
}
#sectionTitle{
    color: dodgerblue;
}
.article{
    width: 90%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black ;
}
.article-bottom{
    width: 90%;
    padding: 10px;
    text-align: center;
    border: none;
}
#articleImage1, #articleImage5{
    width: 80%;
    padding: 5px;
}
#articleImage2{
    width: 95%;
    padding: 5px;
    display: block;
}
#articleImage3, #articleImage4{
    width: 20%;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}
.special-stories{
    height: 300px;
    padding: 25px;
    border-bottom: 1px solid black ;
}
.stories{
    width: 21%;
    padding: 20px;
    text-align: center;
    border-right: 1px solid black ;
    display: inline-block;
}
.stories-last{
    width: 21%;
    padding: 20px;
    text-align: center;
    display: inline-block;
}
#storyImages{
    width: 90%;
    display: block;
}
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}
