.aboutUs{
    padding: 20px;
    margin: 30px;
    height: 80%;
    border: white solid 2px;
}
.content{
    width: 55%;
    display: inline-block;
    text-align: justify;
    font-size: 25px;
    padding: 30px;
}
#postTitle{
    color: rgb(206, 206, 44);
    font-size: 40px;
    text-decoration:  rgb(206, 206, 44) underline solid;
}
#tag{
    font-style: italic;
    font-size: 30px;
}
#designs{
    display: inline-block;
    height: 550px;
    padding: 20px;
    margin: 10px;
    margin-left: 70px;
    border: white solid 2px;
}