.contactUs{
    padding: 20px;
    margin: 30px;
    height: 80%;
    border: white solid 2px;
}

#postTitle{
    color: rgb(206, 206, 44);
    font-size: 40px;
    text-decoration:  rgb(206, 206, 44) underline solid;
    text-align: left;
}
address{
    text-align: center;
    background-color: rgb(209, 207, 207);
    width: 50%;
    margin: auto;
    padding: 20px;
}
#map{
    color: rgb(53, 196, 53);
    padding-top: 20px;
    display: block;
}