aside{
    width: 23%;
    padding: 60px;
    margin: 30px;
    float: left;
    border: white solid 2px;
    text-align: center;
    font-size: 30px;
    height: 70%;
}
#linkedPages{
    display: block;
    padding: 20px;
}
a:link{
    color: black;
}
a:visited{
    color: rgb(187, 67, 67);
}
a:hover{
    color: darkolivegreen;
}

.intro{
    width: 55%;
    padding: 60px;
    margin: 30px;
    display: inline-block;
    height: 70%;
    overflow-y: scroll;
    text-align: center;
    border: white dashed 2px;
    font-size: 25px;
}
#postTitle{
    color: rgb(206, 206, 44);
    font-size: 40px;
    text-decoration:  rgb(206, 206, 44) underline solid;
}
#tag{
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}