body{
    background-image: url(../images/logo_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container{
    font-family: 'Open Sans', sans-serif;
    height: 800px;
}
header{
    margin: 30px;
    border: white solid 2px;
    height: 90px;
    padding-bottom: 40px;
}
#logo{
    border-radius: 50%;
    display: inline-block;
    height: 90%;
    margin-left: 40px;
    vertical-align: middle;
    padding-bottom: 10px;
}
#companyName{
    font-size: 70px;
    margin-left: 40px;
    color: rgb(195, 206, 44);
}
