.container{
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: rgb(59, 30, 9);
    padding: 0.2%;
    font-size: 0;
}
.main-division-1{
    height: 70%;
}
.sub-division-1, .block-3{
    display: inline-block;
}
.sub-division-1{
    width: 30%;
    height: 100%;
    margin-right: 2%;
    vertical-align: top;
}
.block-1{
    height: 42%;
    margin-bottom: 13.33%;
    background-color: wheat;
}
.block-2{
    height: 49%;
    margin-bottom: 10%;
    background-color: wheat;
}
.block-3{
    width: 68%;
    height: 98%;
    margin-bottom: 2.941%;
    background-color: tomato;
}
.main-division-2{
    height: 30%;
}
.block-4{
    width:30%;
    height: 100%;
    margin-right: 2%;
    display: inline-block;
    background-color: teal;
    vertical-align: top;
}
.block-5{
    width:63%;
    height: 100%;
    margin-right: 2%;
    display: inline-block;
    background-color: wheat;
}
.sub-division-2{
    width: 3%;
    height: 100%;
    display: inline-block;
}
.block-6{
    height:43%;
    margin-bottom: 133.33%;
    background-color: wheat;
}
.block-7{
    height:43.5%;
    background-color: yellow;
}

