.container{
    width: 1200px;
    margin: auto;
    border: 2px solid #000000;
    background-color: #b5bdc5;
}
header{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
    background-color: #778899;
}
.company-name{
    padding-left: 40px;
    display: inline-block;
    width: 39%;
    text-align: left;
    color: #000000;
}
.nav-bar{
    display: inline-block;
    width: 28%;
}
.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar ul li{
    display: inline;
    margin: 0;
}

.nav-bar ul li a:link{
    padding: 15px 25px;
    text-align: left;
    text-decoration: none;
    border: 2px solid #000000;
    color: #000000;
    background-color: #ffffff;
}
.nav-bar ul li a:visited{
    text-align: left;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}
.nav-bar ul li a:hover{
    text-align: left;
    text-decoration: none;
    background-color: #0000ff;
    color: #ffffff;
}
.login{
    display: inline-block;
    width: 25%;
    text-align: right;
    padding-right: 40px;
}
.slideshow-panel
{
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    background-color: #000000;
    border: 2px solid #000000;
}
       
.image-holder
{   width: 3700px;
    height: 400px;
    clear: both;
    position: relative;
    background-color: #ffffff;
           
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
       
.slider-image
{ 
    float: left;
    margin: 0px;
    padding: 25px;
    position: relative;
    text-align: center;
}

       
#slider-image-1:target ~ .image-holder
{
    left: 0px;
}
       
#slider-image-2:target ~ .image-holder
{
    left: -900px;
}
       
#slider-image-3:target ~ .image-holder
{
    left: -1850px;
}
       
.button-holder
{
    position: relative;
    top: -20px;
}
       
.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #000000;
}


.content{
    width: 85%;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px ;
    border: 2px solid #000000;
    background-color: #ffffff;
}
.services-offered{
    display: inline-block;
    width: 70%;
    height: 100%;
    border-right: 2px solid #000000;
}
.tagline{
    padding: 10px;
    padding-right: 30px;
    text-align: left;
}
.services{
    width: 100%;
}
.service-tabs{
    display: inline-block;
    width: 45%;
    padding: 10px;
}
.service-image{
    width: 50px;
    float: left;
    vertical-align: top;
}
.service-description{
    display: inline-block;
}
.about-service{
    padding-top: 10px ;
    padding-bottom: 20px;
    padding-left: 50px ;
    display: inline-block;
}
.events{
    width:27%;
    height: 100%;
    display: inline-block;
    margin: auto;
    text-align: center;
}
.contact-us-tab{
    background-color: #778899;
    margin-bottom: 20px;
    padding: 10px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 10px #000000;
    
}
.tour-details{
    text-align: left;
    padding-left: 50px;
}
.city-name{
    text-decoration: underline;
}
.past-events ul{
    list-style: none;
    margin-left: 50px ;
    text-align: left;
    border: 2px solid #000000;
}
.past-events ul li a:hover{
    padding-right: 40px ;
    background-color: #5f9ea0;
}
.arrow{
    float: right;
    padding-right: 20px;
    font-weight: bold;
}
footer{
    width: 100%;
    background-color: #ffffff;
    border-top: 2px solid #000000;
}
.links{
    text-align: center;
}
.link-title{
    width: 22%;
    margin: auto;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
.link-title ul{
    list-style: none;
    text-align: center;
    padding-right: 15px;
    
}
.additional-links-tab{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.social-media-handles{
    width: 40px;
    display: inline-block;
    margin: 10px;

}
.additional-links{
    display: inline-block;
    width: 70%;
}
.default-links{
    padding-right: 20px ;
}
.global-site{
    width: 28%;
    display: inline-block;
    text-align: right;
}
.global-site-button{
    border-radius: 20px;
    background-color: #b5bdc5;
}
