.container{
    margin: auto;
    padding: 30px;
    padding-left: 50px;
    height: 580px;
    width: 1000px;
    font-size: 0;
    background-image: linear-gradient(to right, #D3D3D3, #696969);
    border: 1px solid grey;
}
.block-1{
    height: 100px;
    margin-bottom: 30px;
    border: 1px solid grey;
}
.sub-division-1{
    display: inline-block;
    width: 49%;
    height: 330px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.block-2{
    display: inline-block;
    width: 47.55%;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 1px solid grey;
}
.block-3{
    display: inline-block;
    width: 47.55%;
    height: 100px;
    margin-bottom: 15px;
    border: 1px solid grey;
}
.block-4{
    display: block;
    width: 100%;
    height: 216px;
    border: 1px solid grey;
}
.sub-division-1, .sub-division-2{
    display: inline-block;
}
.sub-division-2{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 330px;
    margin-bottom: 15px;
}
.block-5, .block-7, .block-9{
    display: inline-block;
    width: 47%;
    height: 100px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid grey;
}
.block-6, .block-8, .block-10{
    display: inline-block;
    width: 47%;
    height: 100px;
    margin-bottom: 15px;
    border: 1px solid grey;
}
.block-11{
    height: 100px;
    border: 1px solid grey;
}
.block-1, .block-2, .block-3,
.block-4, .block-5, .block-6,
.block-7, .block-8, .block-9,
.block-10, .block-11{
    background-color: #ffffff;
}