.container{
    margin: auto;
    max-width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    font-size: 0;
}
header{
    background-color: #9AE8F1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}
h1{
    font-size: 2em;
    font-weight: bolder;
}
h2{
    font-size: 1.5em;
    font-weight: bolder;
}
h3{
    font-size: 1.17em;
    font-weight: bolder;
}
.posts{
    display: inline-block;
    width: 65%;
    margin: 0;
}
.post1{
    border: 15px solid #A2F19A;
    padding: 15px;
    font-size: 16px;
}
.post2{
    border: 15px solid #A2F19A;
    border-top: 0;
    border-bottom: 16px solid #A2F19A;
    padding: 15px;
    font-size: 16px;
}
aside{
    display: inline-block;
    width: 35%;
    max-height: 100%;
    vertical-align: top;
    margin: 0;
    background-color: #F6B5D0 ;
    padding: 15px;
    font-size: 16px;
}