body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e2f1ff;
  }
  
  h1 {
      margin: 0 0 24px 0;
      text-align:center;
  }
  .form-group {
    min-width: 500px;
    align-items: center;
    padding: 20px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109);
  }
  label, input,textarea{
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
  }
  input{
    margin-bottom: 24pt;
  }
  
  input,textarea {
    border: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: #eceffc;
    padding-left: 5px;
    outline: none;
  }  
  input:focus,textarea:focus{
    border: 2px solid #6bd4b1;
  }
  .button {
  
    float:right;
    border-radius: 4px;
    background-color: #0f6cc3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }